<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Price Prediction Model</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            font-size: 3rem;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 1.5rem;
            color: #6c757d;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Diamond Price Prediction Model</h1>
        <h2>Make Your Predictions with Ease</h2>
        <h3>- Viraj Bhutada</h3>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
